<a href="https://colab.research.google.com/github/HeeChaNY/HeeChaNY/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [2]:
requests.get('http://openapi.animal.go.kr/openapi/service/rest/abandonmentPublicSrvc/sido?ServiceKey=Zjah1kvtklaJ%2FiCxiHnWF8hNoM3LAfokX83aOMlHpIqn790H44sXISnvWKu5qFqNi%2FPMvH7v8Ry5s7N2FUGR9w%3D%3D')

In [3]:
requests.get('http://apis.data.go.kr/6260000/GoodPriceStoreService/getGoodPirceStore?serviceKey=Zjah1kvtklaJ%2FiCxiHnWF8hNoM3LAfokX83aOMlHpIqn790H44sXISnvWKu5qFqNi%2FPMvH7v8Ry5s7N2FUGR9w%3D%3D&numOfRows=5&pageNo=1')

In [4]:
URL = ('http://apis.data.go.kr/B551177/StatusOfPassengerFlightsOdp/'
      'getPassengerArrivalsOdp?'
      'serviceKey=Zjah1kvtklaJ/iCxiHnWF8hNoM3LAfokX83aOMlHpIqn790H44sXISnvWKu5qFqNi/PMvH7v8Ry5s7N2FUGR9w=='
      '&from_time=0000&to_time=2400'
      '&airport=TAS'
      '&flight_id=KE5942'
      '&airline=KE'
      '&lang=K'
      '&type=json')
response = requests.get(URL)

In [5]:
URL= ('http://apis.data.go.kr/B552061/frequentzoneBicycle/'
    'getRestFrequentzoneBicycle?'
    'ServiceKey=Zjah1kvtklaJ/iCxiHnWF8hNoM3LAfokX83aOMlHpIqn790H44sXISnvWKu5qFqNi/PMvH7v8Ry5s7N2FUGR9w=='
    '&searchYearCd=2017'
    '&siDo=11'
    '&guGun=680'
    '&numOfRows=10'
    '&pageNo=1')
response = requests.get(URL)

In [6]:
URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/'
      'getCtprvnMesureSidoLIst?'
      'sidoName=서울'
      '&searchCondition=hour'
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json'
      '&serviceKey=Zjah1kvtklaJ%2FiCxiHnWF8hNoM3LAfokX83aOMlHpIqn790H44sXISnvWKu5qFqNi%2FPMvH7v8Ry5s7N2FUGR9w%3D%3D')
response = requests.get(URL)
response

In [7]:
URL = ('http://apis.data.go.kr/6260000/GoodPriceStoreService/'
    'getGoodPirceStore?'
    'serviceKey=Zjah1kvtklaJ/iCxiHnWF8hNoM3LAfokX83aOMlHpIqn790H44sXISnvWKu5qFqNi/PMvH7v8Ry5s7N2FUGR9w=='
    '&numOfRows=5'
    '&pageNo=1')
response = requests.get(URL)

In [8]:
response

In [9]:
URL = ('http://apis.data.go.kr/B552061/frequentzoneBicycle/'
'getRestFrequentzoneBicycle?'
'ServiceKey=Zjqp%2Be%2BzEDVzAYMhYka7ej8naRCZOH2lxR9Z6vVaSX8Ndj8hiLgeTIY%2FYkjAy5YG4LWPOc66Ho9ARN9AoxgAuQ%3D%3D'
'&searchYearCd=2017'
'&siDo=11&guGun=680'
'&numOfRows=10'
'&pageNo=1')
response = requests.get(URL)
response

In [10]:
response = requests.get('http://apis.data.go.kr/B551177/AviationStatsByAirline/'
  'getTotalNumberOfFlight?'
  'serviceKey=Zjqp%2Be%2BzEDVzAYMhYka7ej8naRCZOH2lxR9Z6vVaSX8Ndj8hiLgeTIY%2FYkjAy5YG4LWPOc66Ho9ARN9AoxgAuQ%3D%3D'
  '&from_month=201703'
  '&to_month=201703'
  '&periodicity=0'
  '&pax_cargo=Y'
  '&domestic_foreign=I'
  '&type=json')
response

In [ ]:
r = response.json()
r

In [12]:
items = r['response']['body']['items']

airline = [item['airline'] for item in items]
arrFlights = [item['arrFlights'] for item in items]
depFlights = [item['depFlights'] for item in items]
airlineCode = [item['airlineCode'] for item in items]

airline = pd.Series(airline)
arrFlights = pd.Series(arrFlights)
depFlights = pd.Series(depFlights)
airlineCode = pd.Series(airlineCode)
    
df = pd.DataFrame({'항공사': airline, '항공사코드': airlineCode, '도착': arrFlights, '출발': depFlights})
df

          항공사 항공사코드     도착     출발
0   KLM네덜란드항공    KL     26     26
1       S7항공     S7     27     27
2    가루다인도네시아    GA     56     56
3        대한항공    KE  3,145  3,149
4        델타항공    DL     62     62
..        ...   ...    ...    ...
62   필리핀에어아시아    Z2    124    124
63      필리핀항공    PR    183    183
64    하와이안 항공    HA     22     22
65    홍콩익스프레스    UO     99    100
66       홍콩항공    HX     31     31

[67 rows x 4 columns]

In [13]:
def start(arrFlights):
    URL = ('http://apis.data.go.kr/B551177/AviationStatsByAirline/'
  'getTotalNumberOfFlight?'
  'serviceKey=Zjqp%2Be%2BzEDVzAYMhYka7ej8naRCZOH2lxR9Z6vVaSX8Ndj8hiLgeTIY%2FYkjAy5YG4LWPOc66Ho9ARN9AoxgAuQ%3D%3D'
  '&from_month=201703'
  '&to_month=201703'
  '&periodicity=0'
  '&pax_cargo=Y'
  '&domestic_foreign=I'
  '&type=json')
    response = requests.get(URL) 
    r = response.json()

    items = r['response']['body']['items']

    airline = [item['airline'] for item in items]
    airlineCode = [item['airlineCode'] for item in items]
    arrFlights = [item['arrFlights'] for item in items]
    depFlights = [item['depFlights'] for item in items]

    airline = pd.Series(airline)
    airlineCode = pd.Series(airlineCode)   
    arrFlights = pd.Series(arrFlights)
    depFlights = pd.Series(depFlights)
        
    df = pd.DataFrame({'항공사': airline, '항공사코드': airlineCode, '도착': arrFlights, '출발': depFlights})
    return df

In [ ]:
iface = gr.Interface(start, gr.inputs.Dropdown(['26, 27, 28, 29, 30, 31, 32']), outputs=['dataframe'])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://39060.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)