<a href="https://colab.research.google.com/github/HeeChaNY/HeeChaNY/blob/main/%EC%97%B0%EC%8A%B5%EC%A4%91df%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [34]:
URL = ('http://apis.data.go.kr/B551177/AviationStatsByAirport/'
  'getTotalNumberOfFlight?'
  'ServiceKey=Zjah1kvtklaJ%2FiCxiHnWF8hNoM3LAfokX83aOMlHpIqn790H44sXISnvWKu5qFqNi%2FPMvH7v8Ry5s7N2FUGR9w%3D%3D'
  '&from_month=201409'
  '&to_month=201410'
  '&periodicity='
  '&pax_cargo=Y'
  '&type=json')
response = requests.get(URL)
response

In [35]:
r = response.json()
r

{'response': {'body': {'items': [{'airport': '광주',
     'arrFlight': '1,136',
     'depFlight': '1,136',
     'flights': '2,272'},
    {'airport': '군산', 'arrFlight': '28', 'depFlight': '28', 'flights': '56'},
    {'airport': '김포',
     'arrFlight': '12,073',
     'depFlight': '12,073',
     'flights': '24,146'},
    {'airport': '김해',
     'arrFlight': '6,651',
     'depFlight': '6,656',
     'flights': '13,307'},
    {'airport': '대구',
     'arrFlight': '1,192',
     'depFlight': '1,192',
     'flights': '2,384'},
    {'airport': '무안',
     'arrFlight': '122',
     'depFlight': '122',
     'flights': '244'},
    {'airport': '사천',
     'arrFlight': '147',
     'depFlight': '146',
     'flights': '293'},
    {'airport': '양양',
     'arrFlight': '144',
     'depFlight': '146',
     'flights': '290'},
    {'airport': '여수',
     'arrFlight': '480',
     'depFlight': '480',
     'flights': '960'},
    {'airport': '울산',
     'arrFlight': '410',
     'depFlight': '410',
     'flights': '820'},
    {'airport': '원주', 'arrFlight': '60', 'depFlight': '60', 'flights': '120'},
    {'airport': '인천',
     'arrFlight': '22,019',
     'depFlight': '21,997',
     'flights': '44,016'},
    {'airport': '제주',
     'arrFlight': '13,347',
     'depFlight': '13,345',
     'flights': '26,692'},
    {'airport': '청주',
     'arrFlight': '1,094',
     'depFlight': '1,096',
     'flights': '2,190'}]},
  'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}}}

In [5]:
items = r['response']['body']['items']
items

[{'airport': '광주',
  'arrFlight': '5,343',
  'depFlight': '5,340',
  'flights': '10,683'},
 {'airport': '군산', 'arrFlight': '486', 'depFlight': '486', 'flights': '972'},
 {'airport': '김포',
  'arrFlight': '58,901',
  'depFlight': '58,998',
  'flights': '117,899'},
 {'airport': '김해',
  'arrFlight': '33,931',
  'depFlight': '33,966',
  'flights': '67,897'},
 {'airport': '대구',
  'arrFlight': '5,725',
  'depFlight': '5,739',
  'flights': '11,464'},
 {'airport': '무안', 'arrFlight': '944', 'depFlight': '922', 'flights': '1,866'},
 {'airport': '사천', 'arrFlight': '742', 'depFlight': '741', 'flights': '1,483'},
 {'airport': '양양', 'arrFlight': '519', 'depFlight': '527', 'flights': '1,046'},
 {'airport': '여수',
  'arrFlight': '2,364',
  'depFlight': '2,363',
  'flights': '4,727'},
 {'airport': '울산',
  'arrFlight': '2,071',
  'depFlight': '2,071',
  'flights': '4,142'},
 {'airport': '원주', 'arrFlight': '285', 'depFlight': '285', 'flights': '570'},
 {'airport': '인천',
  'arrFlight': '111,973',
  'depFlight': '111,829',
  'flights': '223,802'},
 {'airport': '제주',
  'arrFlight': '64,499',
  'depFlight': '64,509',
  'flights': '129,008'},
 {'airport': '청주',
  'arrFlight': '5,404',
  'depFlight': '5,393',
  'flights': '10,797'}]

In [6]:
items = r['response']['body']['items']
items[11]

{'airport': '인천',
 'arrFlight': '111,973',
 'depFlight': '111,829',
 'flights': '223,802'}

In [ ]:
공항 = [a['airport'] for a in items]
arrFlight = [item['arrFlight'] for item in items]
depFlight = [item['depFlight']for item in items]
flights = [item['flights']for item in items]

공항 = pd.Series(공항)
arrFlight = pd.Series(arrFlight)    
depFlight = pd.Series(depFlight)
flights = pd.Series(flights)

df = pd.DataFrame({'합계' : flights, '도착' : depFlight, '출발' : arrFlight, '공항' : 공항})
df

In [37]:
def air(from_month, to_month):
  URL = ('http://apis.data.go.kr/B551177/AviationStatsByAirport/'
  'getTotalNumberOfFlight?'
  'ServiceKey=Zjah1kvtklaJ%2FiCxiHnWF8hNoM3LAfokX83aOMlHpIqn790H44sXISnvWKu5qFqNi%2FPMvH7v8Ry5s7N2FUGR9w%3D%3D'
  '&from_month='+from_month+
  '&to_month='+to_month+
  '&periodicity='
  '&pax_cargo=Y'
  '&type=json')
  response = requests.get(URL)
  r = response.json()
  items = r['response']['body']['items'] 
  공항 = [a['airport'] for a in items]
  arrFlight = [item['arrFlight'] for item in items]
  depFlight = [item['depFlight']for item in items]
  flights = [item['flights']for item in items]

  공항 = pd.Series(공항)
  arrFlight = pd.Series(arrFlight)    
  depFlight = pd.Series(depFlight)
  flights = pd.Series(flights)

  df = pd.DataFrame({'합계' : flights, '도착' : depFlight, '출발' : arrFlight, '공항' : 공항})
  return df

In [ ]:
iface = gr.Interface(air, [gr.inputs.Dropdown(['201401','201403','201408','201501']), gr.inputs.Dropdown(['201401','201403','201408','201501'])], outputs=['dataframe'])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://35200.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)